<header class="header">
    <a href="/" class="header__logo">Admin Panel</a>

    <nav class="header__nav">
        <ul>
            <li>
                <!-- <a href="/" class="</%= isActiveRoute('/', currentRoute) %>">Home</a> -->
                <a href="/">Home</a>
            </li>
            <li>
                <!-- <a href="../about.ejs" class="</%= isActiveRoute('/about', currentRoute) %>">About</a> -->
                <a href="../about">About</a>
            </li>
            <li>
                <!-- <a href="../contact.ejs" class="</%= isActiveRoute('/contact', currentRoute) %>">Contact</a> -->
                <a href="../contact">Contact</a>
            </li>
        </ul>

    </nav>

    <div class="header__button">
        <a href="/logout">
            Logout
        </a>
    </div>

</header>